.homeExplore {
  margin-top: 80px;
  margin-bottom: 80px;
  .banner-img {
    margin-right: 70px;
    width: 50%;
  }
  .banner-text {
    width: 50%;
    h1 {
      line-height: 64px;
      margin: 0 0 30px;
    }
  }
  a {
    width: 156px;
    height: 52px;
    font-size: 18px;
  }
  p {
    margin: 0 0 17px;
  }

}

.button {
  display: block;
  border-radius: 10rem;
  color: #fff;
  font-size: 21px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 52px;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(83.66deg, #E57F3A 0%, #F09D21 100%);
    border-radius: 30px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(83.66deg, #b9642c 0%, #e09a30 100%);
    transition: all .3s;
    border-radius: 30px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.dot {
  height: 60px;
  width: 60px;
  background-color: #efd2d24a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -78px;
  left: -70px;
}

@media (max-width: 992px) {
  .homeExplore {
    #banner {
      flex-direction: column;
    }
    .banner-img {
      width: 100%;
      margin: 0 0 100px;
      img {
        margin: 0 auto;
        width: 400px;
      }
    }
    .banner-text {
      width: 100%;
      text-align: center;
      a {
        margin: 0 auto;
      }
    }
  }
  .dot {
    height: 60px;
    width: 60px;
    background-color: #efd2d24a;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -70px;
    left: -70px;
  }
 
  .button {
    display: block;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    height: 52px;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(83.66deg, #E57F3A 0%, #F09D21 100%);
      border-radius: 30px;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: linear-gradient(83.66deg, #b9642c 0%, #e09a30 100%);
      transition: all .3s;
      border-radius: 30px;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .homeExplore {
    margin-top: 50px;
    .banner-img {
      margin-bottom: 50px;
      img {
        width: 250px;
      }
    }
    .banner-text {
      h1 {
        line-height: 35px;
        margin: 0 0 30px;
        font-size: 30px;
      }
      p {
        font-size: 15px;
        line-height: 25px;
      }
      a {
        font-size: 15px;
        padding: 15px;
      }
    }
    
  }
  .dot {
    height: 60px;
    width: 60px;
    background-color: #efd2d24a;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 10px;
  }

  .button {
    display: block;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    height: 52px;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(83.66deg, #E57F3A 0%, #F09D21 100%);
      border-radius: 30px;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: linear-gradient(83.66deg, #b9642c 0%, #e09a30 100%);
      transition: all .3s;
      border-radius: 30px;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

}
