.header__wrapper {
  header {
    padding: 18px 0;
    > button {
      display: none;
    }
    ul {
      li:last-child {
        a {
          width: 111px;
          height: 52px;
          display: block;
          text-align: center;
          font-weight: 500;
          margin-right: 0;
        }
      }
      
    }
    
    nav {
      > div {
        display: none;
        width: 0%;
      }
    }
  }
  nav#subMenu {
    display: none;
  }
}
.uur:hover{
  transition: 2s all;
 background: linear-gradient(83.66deg, #E57F3A 50%, #F09D21 30%);
  border-radius: 30px;
}

.lii:hover{
  transition: .6s all;
  color: #f09d21;
  font-size: 15px;
}
.buttonnewsss{
  display: block;
  border-radius: 10rem;
  color: #fff;
  font-size: 15px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  height: 52px;
  font-weight: bold;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(83.66deg, #E57F3A 0%, #F09D21 100%);
    border-radius: 30px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(83.66deg, #b9642c 0%, #e09a30 100%);
    transition: all .3s;
    border-radius: 30px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
}
} 

@media (max-width: 768px) {
  .header__wrapper {
    header {
      > button {
        display: block;
        font-size: 20px;
        padding: 0 10px 0 20px;
      }
      nav {
        position: fixed;
        left: -70%;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-start;
        transition: left 0.5s ease-in-out;
        &.open {
          left: 0;
        }
        > div {
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
        }
        ul {
          position: relative;
          z-index: 1;
          background: white;
          width: 70%;
          max-width: 350px;
          flex-direction: column;
          height: 100%;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 50px 30px;
          box-shadow: 20px -1px 20px 0px rgb(46 56 71 / 10%);
          li {
            margin: 0 0 15px;
            a {
              margin: 0;
            }
          }
        }
      }
    }
    nav#subMenu {
      display: block;
      position: fixed;
      left: -70% !important;
      top: 245px !important;
      right: auto !important;
      width: 70%;
      max-width: 350px;
      transition: left 0.5s ease-in-out;
      &.open {
        left: 0 !important;
      }
      ul {
        flex-direction: column;
        li {
          width: 100%;
          margin: 0 0 10px;
          position: relative;
          > div {
            font-size: 15px;
            line-height: 20px;
            width: 100%;
            padding: 15px 30px 15px 15px;
            br {
              display: none;
            }
          }
          a {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
          }
        }
      }
    }
  }
}
