.conatinerresources{
    width: 100%;
}
.conatinerBox{
    width: 100%;
    margin: auto;
}
.containersss{
    padding-left: 25px;
    padding-right: 25px;
}
.resourceimage{
    width: 100%;
    height: 200px;
}
.oio{
    padding-top: 20px;
}
@media screen and (max-width: 900px) and (min-width: 600px) {
    .conatinerresources{
        width: 100%;
    }
    .conatinerBox{
        width: 95%;
        margin: auto;
    }
    .containersss{
        padding-left: 25px;
        padding-right: 25px;
    }
    .resourceimage{
        width: 100%;
        height: 200px;
    }
    .oio{
        padding-top: 20px;
    }
}
@media screen and (max-width: 600px) and (min-width: 200px) {
    .conatinerresources{
        width: 100%;
    }
    .conatinerBox{
        width: 98%;
        margin: auto;
    }
    .containersss{
        padding-left: 25px;
        padding-right: 25px;
    }
    .resourceimage{
        width: 100%;
        height: 200px;
    }
    .oio{
        padding-top: 20px;
    }
}